    @font-face { font-family: Minecraft; src: url('minecraft.otf'); } 
    #font {
        font-weight: inherit;
        text-transform: uppercase;
        font: 1.5rem 'MutatorSans', sans-serif;
    }
    #font2 {
        font-weight: inherit;
        font: 1.5rem 'Minecraft', sans-serif;
    }
    .grad {
        height:2000x;
        background: rgb(95,128,122);
        background: linear-gradient(0deg, rgba(95,128,122,1) 5%, rgb(233,220,195) 100%) no-repeat;
        background-color: rgb(95,128,122);
    }
    .gradr {
        height:2000x;
        background: rgb(233,220,195);
        background: linear-gradient(0deg, rgba(233,220,195  ,1) 5%, rgb(95,128,122) 100%) no-repeat;
        background-color: rgb(233,220,195);
    }
    .container1 {
        width: 250px;
        height: 250px;
        outline: solid 4px black;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        
    }
    .ccenter {
        display: flex;
        justify-content: center;
    }
    .ccenter .container2 {   
        margin: 20px;
        margin-bottom: 100px;
	    padding: 75px 150px 100px 150px;
	    border-radius: 10px;
	    width: 1200px;

	    color: rgb(200,200,200);
	    background-color: rgb(46,46,46);
	    box-shadow: 0 0 10px rgb(60,60,60);
    }
    .container2 div:target {
        margin-left: 10px;
    }
    .container2 p {
        margin-top: 0.25em;
        margin-bottom: 0.75em;
        margin-left: 5px;
        color: rgb(170,170,170);
    }
    .ccenter .container3 {   
        margin: 20px;
        margin-bottom: 100px;
	    padding: 35px 30px 30px 30px;
	    border-radius: 10px;
	    width: 120px;

	    color: rgb(200,200,200);
	    background-color: rgb(46,46,46);
	    box-shadow: 0 0 10px rgb(60,60,60);
    }
    .container3 div:target {
        margin-left: 10px;
    }
    .container3 p {
        margin-top: 0.25em;
        margin-bottom: 0.75em;
        margin-left: 5px;
        color: rgb(170,170,170);
    }
    .center {
        text-align: center;
        
    }
    .dcontainer {
        width: 275px;
        height: 50px;
        outline: none 2px black;
        display: flex;
        justify-content: center;
        margin: auto;
        
    }
    .dcontainer img {
        display: flex;
        justify-content: center;
        margin: 5px auto auto -450px;
	    padding: 0px;
        position: relative;
    }
    .dcontainer h2 {
        display: flex;
        justify-content: center;
        margin: auto auto auto 55px;
	    padding: 0px;
        position: relative;

    }
    .body {  
        height: 125vh;  
        margin-top: 80px;  
        padding: 30px;  
        background-size: cover;  
        font-family: sans-serif;
        }
    .hscroll {
        max-width: 100%;
        overflow-x: hidden;
    }
    .scrollbar::-webkit-scrollbar {
        display: none;
        }
    .header {  
        background-color: rgb(84, 172, 212);  
        position: fixed;  
        left: 0;  
        right: 0;  
        top: 0;  
        height: 30px;  
        display: flex;  
        align-items: center;
        box-shadow: 0 0 10px rgb(61, 124, 153);
        z-index: 1;
        }  
    .header * {  
        display: inline;  
        }  
    .header li {  
        margin: 20px;  
        }  
    .header li a {  
        color: rgb(255, 255, 255);  
        text-decoration: none;  
        }
    .white {
        color: rgb(255, 255, 255);
        }
    .black {
        color: rgb(0, 0, 0);
        }
    .brown {
        color: rgb(114, 82, 55)
        }
    .br {
        display: block;
        margin-bottom: 0em;
        }
          
    .brmedium {
         display: block;
         margin-bottom: 1em;
        }
          
    .brlarge {
        display: block;
        margin-bottom: 25em;
        }
    .bimg {
        display: flex;
        position: relative;
        object-fit: cover;
        width: 110%;
        bottom:0%;
        left: -38px
        }