    #font {
        font-weight: inherit;
        text-transform: uppercase;
        font: 1.5rem 'MutatorSans', sans-serif;
    }
    #grad {
       height:921px;
        background-image: rgb(114,152,145);
        background-image: linear-gradient(0deg, rgba(114,152,145,1) 10%, rgba(232,217,184,1) 100%);   
    }
    .container1 {
        width: 250px;
        height: 250px;
        outline: solid 3px black;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .container2 {
        width: 500px;
        height: 250px;
        margin: 0px;
        outline: solid 1px black;
    }
    .center {
        text-align: center;
    }
